In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer

In [20]:
df = pd.read_csv("train.csv",usecols=['GarageQual','FireplaceQu','SalePrice'])

In [21]:
df.sample(3)

     FireplaceQu GarageQual  SalePrice
1258         NaN         TA     190000
1099          TA         TA     157000
1423          Gd         Gd     274970

In [22]:
df.columns

Index(['FireplaceQu', 'GarageQual', 'SalePrice'], dtype='object')

In [23]:
df.isnull().sum().sort_values(ascending=False).head(19)

FireplaceQu    690
GarageQual      81
SalePrice        0
dtype: int64